.about__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    background: var(--bg-page);
}

.about__left_p {
    margin-bottom: 8px;
    color:#6B4A7D ;
}

.about__left_h {
    margin-bottom: 16px;
    color:var(--accent-1) ;
}

.about__left_p2 {
    margin-bottom: 32px;
     color:#6B4A7D ;
}